
<div *ngIf="manager">
    <h2><span>Manager</span> {{manager.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Fullname</span></dt>
        <dd>
            <span>{{manager.fullname}}</span>
        </dd>
        <dt><span>Login</span></dt>
        <dd>
            <span>{{manager.login}}</span>
        </dd>
        <dt><span>Password</span></dt>
        <dd>
            <span>{{manager.password}}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
            <span>{{manager.email}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'manager/'+ manager.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
